@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  color: #222;
  background-color: #f7f7f7;

  button {
    text-transform: uppercase;
    background-color: #a5c9ca;
    color: #222;
    padding: 0.45rem 0.8rem;
    display: inline-block;
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 0.25rem;
    display: inline-block;
  }

  .sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 25%;
    height: 100%;
    border: 1px solid #222;
  }

  main {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 75%;
    height: 100%;
    margin-left: 25%;

    .main-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 30%;
      height: 100%;
      border: 1px solid #222;
    }

    // .note-list {
    //   width: 25%;
    //   height: 100%;
    // }

    note-input {
      height: 100vh;
    }

    .note-content {
      width: 70%;
      height: 100%;
      float: left;
      border: 1px solid #222;
    }

    textarea {
      display: block;
      margin-top: 2rem;
      height: 100vh;
      width: 100%;
      background: transparent;
      border: none;
      overflow: auto;
      outline: none;

      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      resize: none;
    }

    .note-links {
      text-decoration: none;
      color: #222;
    }
  }
}
