@import "../global.scss";

.add-btn {
  position: fixed;
  bottom: 3rem;
  margin-right: 2rem;
  width: 4.4rem !important;
  height: 4.4rem !important;
  border-radius: 50%;
  z-index: 1000;
  background-color: $primary-color;
  color: $secondary-color;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;

  &:hover {
    background-color: lighten($primary-color, 10%);
  }

  svg {
    font-size: 1.688rem;
  }
}

@media only screen and (max-width: 768px) {
  .add-btn {
    width: 5rem !important;
    height: 5rem !important;

    svg {
      font-size: 1.92rem;
    }
  }
}
