@import "../global.scss";

.container {
  &.active {
    background-color: $primary-color;

    h3 {
      color: $secondary-color;
    }
  }

  .note-links {
    display: flex;
    text-decoration: none;
    color: $primary-color;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 5rem;

    .note-list-item-container {
      margin: auto 0;
      height: 5.75rem;
      padding-top: 0.8rem;
    }

    .note-desc-preview {
      color: $tertiary-color !important;
      font-weight: 200;
      letter-spacing: normal !important;
    }
  }
}
