@import "../global.scss";

.note-links {
  text-decoration: none;
  color: $primary-color;
}

.container {
  &.active {
    background-color: $primary-color;

    h3 {
      color: $secondary-color;
    }
  }

  .note-list-item-outer-container {
    display: flex;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 5rem;

    .note-list-item-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 5.75rem;
    }

    .note-desc-preview {
      color: $tertiary-color !important;
      font-weight: 200;
      letter-spacing: normal !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .note-list-item-outer-container {
      display: flex;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0 10%;

      .note-list-item-inner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        // height: 6.5rem;
        h3 {
          font-size: 1.452rem;
        }
      }

      .note-desc-preview {
        font-size: 1.21rem;
        color: $tertiary-color !important;
        font-weight: 200;
        letter-spacing: normal !important;
      }
    }
  }
}
