@import "../global.scss";
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 22%;
  height: 100%;
  background-color: $primary-color;
  color: $secondary-color;

  .logo-container {
    margin: 1.563rem 2.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-family: "satisfy";
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 400;
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    position: absolute;
    height: 100%;
    width: 75%;
    left: -75%;
    z-index: 100;
    transition: all 0.3s ease;

    &.on-mobile-show {
      left: 0;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .sidebar {
    width: 30vw;

    &.on-mobile-hide {
      display: none;
    }
  }
}
