@import "../global.scss";

.signup-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6363;
  color: $secondary-color;
  width: 100%;
  height: 3.5rem;
  position: sticky;
  top: 0;
  cursor: pointer;

  &:hover {
    background-color: lighten(#ff6363, 3%);
  }
}

@media only screen and (max-width: 768px) {
  .signup-prompt {
    height: 5rem;
    p {
      font-size: 1.21rem;
      margin: 0.5rem;
    }
  }
}
